
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@media screen  and (max-width: 1023px) {
  img{
    width: 100%;
    vertical-align:middle;
  }
  body{
    //background-color: #23b9eb;
    font-family: "cwTeXYen", sans-serif;
    .pc{
      max-width: 1920px;
      margin: 0 auto;
      display: none;
    }
    .revert{
      max-width: 1080px;
      display: none;
      position: absolute;
      z-index: 10;
    }
    .container{
      .logo{
        width: 29.8%;
        margin: 5.1% 0 0 6.239%;
      }
      .menu{
        width: 7.3%;
        margin: 5.15625% 6.25% 0 0 ;
      }
      .top{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
      }
      .promo-video{
        width: 87%;
        border: #5e3612 0.35em solid;
        box-sizing: border-box;
        border-radius: 7px ;
        background-color: black;
      }
      .page{
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        text-align: center;
      }

      .nav{
        display: none;
        width: 100vw;
        position: absolute;
        z-index: 200;
        background-image: url("../img/boundaryBg.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        height: 100vh;
        text-align: center;
        .nav-title{
          width: 27.5%;
          position: relative;
          margin: 0 auto;
          &:nth-child(2){
            margin-top: 12.03125%;
          }
          &:nth-child(3){
            margin:  7.96875% auto;
          }
          &:nth-child(4){
            margin:  7.96875% auto;
          }
        }
        .nav-bottom{
          display: inline-block;
          margin-top: 10.3125%;
          width: 90%;
        }

        .rules{
          display: none;
          position: absolute;
          background-image: url("../img/boundaryBg2.png");
          background-repeat: no-repeat;
          background-position: top center;
          background-size: 100% auto;
          text-align: center;
          top: 0;
          width: 100vw;
          z-index: 300;
          padding-top: 32%;
          .rule-bg{
            position: relative;
            display: inline-block;
            width: 84.0625%;
            margin-bottom: 10%;
            & :first-child{
              position: absolute;
              width: 11.607142857%;
              top: -0.5%;
              right: -3.5%;
            }
            & :last-child{
              position: absolute;
              width: 11.607142857%;
              bottom: 0.8%;
              right: 5.5%;
            }

          }
        }

      }
      .detail-page{
        display: none;
        background-image: url("../img/gameBg.png");
        background-repeat: repeat;
        background-position: top center;
        background-size: 100% auto;
        text-align: center;

        .detail{
          margin: 3.28125% 0 ;
          display: inline-block;
          width: 88.28125%;
        }
      }
      .inapp{
        display: none;
      }
      .page2{
        display: none;
        height: 100vh;
        background-image: url("../img/page2Bg.png");
        .page2-title1{
          display: inline-block;
          width: 54.53125%;
          margin: 10.15625% 0 0 0 ;
        }
        .page2-title2{
          display: inline-block;
          width: 87.03125%;
          margin-top: 1.40625%;
        }
        .page2-bottom{
          position: relative;

          .page2-start-btn{
            position: relative;
            left: 14vw;
            top: -2vw;
            width: 37.1875%;
            margin: 2.8125% 0 0 18.59375% ;
          }
          @-webkit-keyframes bounceIn {
            from,
            20%,
            40%,
            60%,
            80%,
            to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            0% {
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }

            20% {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }

            40% {
              -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
            }

            60% {
              opacity: 1;
              -webkit-transform: scale3d(1.03, 1.03, 1.03);
              transform: scale3d(1.03, 1.03, 1.03);
            }

            80% {
              -webkit-transform: scale3d(0.97, 0.97, 0.97);
              transform: scale3d(0.97, 0.97, 0.97);
            }

            to {
              opacity: 1;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
            }
          }

          @keyframes bounceIn {
            from,
            20%,
            40%,
            60%,
            80%,

            to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            0% {
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }

            20% {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }

            40% {
              -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
            }

            60% {
              opacity: 1;
              -webkit-transform: scale3d(1.03, 1.03, 1.03);
              transform: scale3d(1.03, 1.03, 1.03);
            }

            80% {
              -webkit-transform: scale3d(0.97, 0.97, 0.97);
              transform: scale3d(0.97, 0.97, 0.97);
            }

            to {
              opacity: 1;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
            }
          }

          .bounceIn {
            -webkit-animation-duration: 1.45s;
            animation-duration: 1.45s;
            -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
            animation-iteration-count: infinite;
            animation-delay: 0.2s;
          }
          .page2-s2{
            position: absolute;
            top: 5vw;
            right: 4.21875%;


            width: 27.65625%;
          }
          .page2-s1{
            position: absolute;
            top: 20vw;
            left: 10vw;
            width: 16.25%;
          }
        }

      }
      .page3{
        display: none;
        height: 100vh;
        background-image: url("../img/page2Bg.png");
        .rule {
          display: inline-block;
          width: 87.5%;
          margin-top: 18%;
          margin-bottom: 9.6875%;
        }
        .page3-ok-btn{
          display: inline-block;
          width: 59.375%;
        }
        .teachGIF{
          background-color: rgba($color: #000000, $alpha: 0.7);
          display: none;
          position: fixed;
          top: 0;
          width: 100%;
          height: 100vh;

          .cn{
            position: absolute;
            width: 100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            .tgif1{
              width: 80%
            }
          }
        }
      }
      .page4{
        height: 100vh;
        display: none;
        background-image: url("../img/gameBg.png");
        #game{
          transform-origin:0 0;
        }
        .top{
          margin-bottom: 3%;
        }
      }
      .page5{
        height: 100vh;
        display: none;
        background-image: url("../img/page5Bg.png");

        .page5-t1{
          display: inline-block;
          margin: 2% 0 3% 0;
          width: 53.125%;
        }
        .page5-t2{
          width: 82.65625%;
          margin: 1.5% 0 0 13.125%;
        }

      }
      .page6{
        display: none;
        height: 100vh;
        background-image: url("../img/resultBg.png");
        text-align: center;
        .success{
          display: none;
          position: relative;
          .page6-title{
            display: inline-block;
            width: 77.1875%;
            margin: 3.125% 0 0 0 ;
          }
          #scoreP{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 16vw;
            margin-top: 32%;
            font-weight: bold;
            color: #5e3612;
            span{
              font-size: 0.54em;
            }
          }

        }
        .fail{
          display: none;
          position: relative;
          .page6-title{
            display: inline-block;
            width: 77.1875%;
            margin: 3.125% 0 0 0 ;
          }
          .ct{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 10vw;
            margin-top: 25%;
            font-weight: bold;
            color: #5e3612;
            span{
              font-size: 0.54em;
            }
          }
        }
        .score{
          position: relative;
          right: 0;
          left: 0;
          margin: 0 auto;
          width: 44.21875%;
          margin-top: -12%;

        }
        .page6-btn{
          position: relative;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 100%;
          text-align: center;
          margin-top: 2%;
          .again-btn{
            display: inline-block;
            width: 38.125%;
          }
          .share-btn{
            display: inline-block;
            width: 38.125%;
          }
          .raffle-btn{
            display: inline-block;
            width: 38.125%;
          }
          .more-btn{
            display: inline-block;
            width: 38.125%;
          }
        }

      }
      .page7{
        display: none;
        height: 100%;
        background-image: url("../img/p7bg.png");
        text-align: center;

        .page7-t1{
          display: inline-block;
          width: 86.5625%;
          margin: 11.25% 0 0 0;
        }
        .r-form{
          display: inline-block;
          width: 85.9375%;
          .coulum{
            margin-top: 4.53125%;
            height: 14vw;
            .page7-title{
              display: inline-block;
              width: 25%;
              margin-right: 3%;
              box-sizing: border-box;
              position: relative;
              top: -14%;

            }
            .page7-input{
              display: inline-block;
              width: 70%;
              box-sizing: border-box;
              input{
                border: none;
                background-color: transparent;
                width: 100%;
                background-image: url("../img/page7-input-bg.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 100% auto;
                height: 12.1vw;
                font-size: 1.3em;
                padding: 0 12px;
                box-sizing: border-box;
                -webkit-appearance: none;
              }
            }
          }
          .checkw{
            display: inline-block;
            width: 45%;
            margin-top: 3%;
            #checkB{
              display: none;
            }


            .check{
              display: inline-block;
              width: 1em;
              height: 1.3em;
              background-image: url("../img/checkbox.png");
              background-color: transparent;
              background-repeat: no-repeat;
              background-position: top center;
              background-size: 100% auto;
              box-sizing: border-box;
              margin-right: 3%;
              vertical-align: bottom;
            }
            .main{
              vertical-align: bottom;
              display: inline-block;
              box-sizing: border-box;
              width: 82%;
            }
          }
          .page7-sent{

            width: 33.75%;
            margin: 6.25% auto 0 auto;
          }
        }
        .p7t2{
          width: 90%;
          margin:20% 0 3% 0;
          display: inline-block;
        }
        .detail{
          margin:3% 0 4% 0;
          display: inline-block;
          width: 88.28125%;
        }
      }
    }
  }
}
//
//@media screen and (max-width: 1023px){
//  img{
//    width: 100%;
//    vertical-align:middle;
//  }
//  .pc{
//    max-width: 1920px;
//    margin: 0 auto;
//    display: none;
//  }
//  .revert{
//    display: block;
//    width: 100vw;
//    position: absolute;
//    z-index: 200;
//  }
//  .promo{
//    display: none;
//  }
//  .page{
//    display: none;
//  }
//  .nav{
//    display: none;
//  }
//}

@media screen  and (min-width: 1024px){
  img{
    width: 100%;
    vertical-align:middle;
  }
  .revert{
    display: none;
    width: 100vw;
    position: absolute;
    z-index: 200;
  }
  .pc{
    max-width: 1920px;
    margin: 0 auto;
    display: block;
  }
  .container{
    display: none;
  }
  .promo{
    display: none;
  }
  .page{
    display: none;
  }
  .nav{
    display: none;
  }

}