# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
*~
.DS_Store
.sass-cache
prepros-6.config
### Sass template
.sass-cache/
*.css.map
*.sass.map
*.scss.map